*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  /* margin-top: 80px; */
  width: 100vw;
  height: 100vh;
}

.App {
  text-align: center;
  margin: 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.app{
  margin: 0;
}

body{
  /* background-color:rgb(194, 187, 187); */
  width: 100vw;
  height: 100vh;
}

.exteriorFull{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.boton{
  border-radius: 10px;
  /* width: 3rem; */
  /* height: 10rem; */
}

.header{
  background-color: black;
  display: flex;
  justify-content: space-around;
  /* margin: 20px 0; */
  padding: 10px;
  /* border-radius: 5px; */
  width: 100%;
}

.main{
  border-radius: 5px;
}

.footer{
  background-color:black;
  display: flex;
  justify-content: space-around;
  /* margin: 20px 0; */
  padding: 10px;
  
  /* border-radius: 5px; */
}

.img{
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100px;
  height: 100px;
}

.boton:hover{
  filter: brightness(0.30); 
}

.img:hover{
  -webkit-filter: blur(5px) saturate(6);
  filter: blur(5px) saturate(6);  
}

.cajon{
  display:flex;
  flex-direction: column;
  width: 21rem;
  height: 15rem;
  /* border: 5px solid rgb(0, 0, 0); */
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #e7a61a;
  border-radius: 10px 10px 10px 10px;
  border: 10px hidden #000000;
  box-shadow: -3px 7px 72px 3px rgba(0,0,0,0.75);
}

.cajonExterior{
  display:flex;
  justify-content: center;
  margin: 5rem;
  min-height: 60vh;
  align-items: center;
}


.contadorTitulo{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contador{
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #ff6600;
  font-size: 5rem;
  font-weight: 600;
  font-family: 'Shadows Into Light', cursive;
  margin: 0;
}

LabelInput {
  font-size: 1rem;
  background: transparent;
  box-shadow: 0 -2px 2px rgb(199, 194, 194);
  border-radius: 20px;
  color: #ffff;
}

labelContacto {
  font-size: 1.5rem;
  color: #9cc7f3;
  font-weight: 900;
  margin-bottom: 0.5rem;
}

textarea {
  border-radius: 10px;
  background-color: #a3a8af;
  padding: 0.5rem;
}

.btnSend {
  width: 8rem;
  border-radius: 20px;
  font-size: 1.2rem;
  color: green;
  background-color: #9df59d;
  cursor: pointer;
}

.btnSend:hover,
.btnSend:focus {
  background-color: green;
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffff;
}

.form-mail {
  width: 20rem;
  border: groove 3px #ffff;
  border-radius:15px;
  box-shadow: -3px -2px 1px #535366;
  background: #232526;  
  background: linear-gradient(to right, #414345, #232526);  
  opacity: 0.8;  
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.div-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* .shadow {
  filter: drop-shadow(8px 8px 10px green);
} */